 <style>
     .home{
         
         color:white;
         background-repeat: no-repeat;
         background-size: cover;
         width:40%;
         height:70%;
         float:left;
     }
     .head{
         margin-left:5%;
         margin-top:5%;
         float:left;
         font-family:"Lucida Console"
     }
 </style>
<br /><br /><br />
       
    
    <img class="home"src="~/Content/imghome.jpg" />
    <div class="head">
        <h1 >Donate Blood</h1>

        <p>
            Is the real act of Humanity
        </p>

        <br /><br /><br /><br /><br>
        <br /><br /><br /><br /><br>
    </div>
